html {
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    justify-content: space-evenly;
}

h2 {
    display: flex;
    justify-content: center;
    font-weight: 300;
    font-size: 30px;
}

table {
    border-collapse: collapse;
    text-align: left;
}

table tr:nth-child(2n) {
    background-color: greenyellow;
}

table th, html table td {
    border: 1px solid;
    padding: 7px;
    font-weight: 400;
}

table td {
    font-weight: 300;
}